//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "../zmk-nodefree-config/keypos_def/keypos_38keys.h"
#include "../zmk-nodefree-config/helper.h"

/* Layers aliases */
#define DEF  0
#define NAV  1
#define NUM  2
#define SHRT 3
#define WIN  4

// #include "mouse.dtsi"

/************************************************************************************/

#define _X_ &none
#define ___ &trans

#define QUICK_TAP_MS 175

/************************************************************************************/
/* General behavior configurations */

&sk {  // sticky-key config
    release-after-ms = <900>;
    quick-release;             // no double capitalization when rolling keys
};

&sl {  // sticky-layer config
    ignore-modifiers;          // allow chording sticky mods & layers
};

&lt {  // layer-tap config
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};

/************************************************************************************/
/* Homerow mods and autoshift */

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                          // thumbs

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        flavor = "balanced"; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <150>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )

MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS)  // left-hand HRMs
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS)  // right-hand HRMs


/* Autoshift, freely copied from https://zmk.dev/docs/behaviors/hold-tap#example-use-cases */
#define AS(keycode) &as LS(keycode) keycode     // Autoshift Macro
ZMK_BEHAVIOR(as, hold_tap, \
    flavor = "tap-preferred"; \
    tapping_term_ms = <150>;
    quick_tap_ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&kp>;
)

/************************************************************************************/
/* Caps-word, num-word and smart-mouse */

// tap: sticky-shift | shift + tap (i.e. double-tap): caps-word | hold: shift
ZMK_BEHAVIOR(smart_shft, mod_morph,
    bindings = <&sk LSHFT>, <&caps_word>;
    mods = <(MOD_LSFT)>;
)
// &caps_word {  // mods deactivate caps-word, requires PR #1451
//     /delete-property/ ignore-modifiers;
// };


// tap: num-word | double-tap: sticky num-layer | hold: num-layer
ZMK_BEHAVIOR(smart_num, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    bindings = <&mo NUM>, <&num_word>;
)
// ZMK_BEHAVIOR(num_dance, tap_dance,
    // tapping-term-ms = <200>;
    // bindings = <&num_word>, <&sl NUM>;  // reverse this for sticky-num on single tap
// )
&num_word {  // num-word, requires PR #1451
    layers = <NUM>;
    continue-list = <BSPC DEL DOT COMMA PLUS MINUS STAR FSLH EQUAL LPAR RPAR RIGHT LEFT F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12>;
    ignore-modifiers;
};


// smart-mouse, requires PR #1366
// ZMK_BEHAVIOR(smart_mouse, tri_state,
//     bindings = <&tog MOUSE>, <&none>, <&tog MOUSE>;
//     ignored-key-positions = <LT1 LT3 RT1 RT2 RT3 RM1 RM2 RM3 RH0 RH1>;
//     ignored-layers = <MOUSE>;
// )

/************************************************************************************/
/* Other custom behaviors */

// Alt+Tab swapper, requires PR #1366
ZMK_BEHAVIOR(swapper, tri_state,
    bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
    ignored-key-positions = <LT2>;
)

// tap: comma | shift + tap: semicolon
ZMK_BEHAVIOR(comma_morph, mod_morph,
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp COMMA>, <&kp SEMICOLON>;
)

// tap: dot | shift + tap: colon
ZMK_BEHAVIOR(dot_morph, mod_morph,
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp DOT>, <&kp COLON>;
)

// tap: question mark | shift + tap: exclamation mark
ZMK_BEHAVIOR(qexcl, mod_morph,
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp QMARK>, <&kp EXCL>;
)

// tap: space | shift + tap: dot -> space -> sticky shift | hold: activate layer
ZMK_BEHAVIOR(lt_spc, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&spc_morph>;
)
ZMK_BEHAVIOR(spc_morph, mod_morph,
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp SPACE>, <&dot_spc>;
)
ZMK_BEHAVIOR(dot_spc, macro,
    bindings = <&kp DOT &kp SPACE &sk LSHFT>;
)

// tap: CMD+G | hold: CMD+F
ZMK_BEHAVIOR(cmdgf, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp LG(F)>, <&kp LG(G)>;
)
// tap: CMD+SHFT+G | hold: CMD+SHFT+F
ZMK_BEHAVIOR(cmdshftgf, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp LG(LS(F))>, <&kp LG(LS(G))>;
)

// tap: CMD+[ | hold: CMD+]
ZMK_BEHAVIOR(cmdlrbkt, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp LG(RBKT)>, <&kp LG(LBKT)>;
)

/************************************************************************************/
/* Misc. defines */
#define CANCEL      &kp K_CANCEL             // cancel caps-word, num-word and smart-mouse
#define HYPER(keycode) LC(LA(LS(LG(keycode))))

#include "combos.dtsi"  // requires layer aliases and some other macros

/************************************************************************************/
/* The actual keymap layers */

ZMK_LAYER(base,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &kp Q         &kp W         &kp L         &kp D         &kp P           &kp J         &kp M         &kp U         &kp Y         &kp SQT
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &hml LCTRL A  &hml LALT S   &hml LSHFT R  &hml LGUI T   &kp G           &kp F         &hmr RGUI N   &hmr LSHFT E  &hmr LALT I   &hmr LCTRL O
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
    &kp BSPC      &kp X         &kp Z         &kp K         &kp C         &kp V           &kp B         &kp H         &comma_morph  &dot_morph    &qexcl        &key_repeat
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &lt WIN ESC   &smart_shft   &lt SHRT RET    &smart_num    &lt_spc NAV   &kp BSPC
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(navigation,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  _X_           _X_           _X_           _X_           &cmdshftgf      &kp LA(BSPC)  &kp BSPC      &kp UP        &kp DEL       &kp LA(DEL)
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  LCTRL         LALT          LSHFT         LGUI          &cmdgf          &kp LA(LEFT)  &kp LEFT      &kp DOWN      &kp RIGHT     &kp LA(RIGHT)
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
    _X_           &kp LG(X)     _X_           _X_           &kp LG(C)     &kp LG(v)       &kp PG_UP     &kp HOME      &kp PG_DN     &kp END       _X_           ___
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                              ___           ___           ___             ___           &tog NAV      ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(numbers,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &kp F12       &kp F7        &kp F8        &kp F9        &kp F12         _X_           &kp 7         &kp 8         &kp 9         _X_
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &hml LCTRL F11 &hml LALT F4  &hml LSHFT F5 &hml LGUI F6 &kp F11         &kp 0         &hmr RGUI 4   &hmr LSHFT 5  &hmr LALT 6   &hmr LCTRL DOT
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
    ___           &kp F10       &kp F1        &kp F2        &kp F3        &kp F10         _X_           &kp 1         &kp 2         &kp 3         &kp COMMA     ___
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                              ___           ___           ___             CANCEL        ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(shortcuts,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  AS(LG(Q))     AS(LG(W))     LC(LS(TAB))   LC(TAB)       &cmdshftgf      &kp C_BRI_UP  _X_           &kp C_VOL_UP  _X_           _X_
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  AS(LG(A))     AS(LG(S))     AS(LG(R))     AS(LG(T))     &cmdgf          &kp C_BRI_DN  &kp C_PREV    &kp C_VOL_DN  &kp C_NEXT    _X_
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
    _X_           AS(LG(X))     AS(LG(Z))     &cmdlrbkt     AS(LG(C))     AS(LG(V))       _X_           _X_           &kp C_MUTE    _X_           _X_           _X_
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                              _X_           &kp CAPSLOCK  _X_             &kp C_PP      _X_           &kp K_CMENU
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(windows,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  HYPER(Q)      HYPER(W)      &kp LS(TAB)   &swapper      AS(LG(GRAVE))   _X_           _X_           _X_           _X_           _X_
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  HYPER(A)      HYPER(S)      HYPER(R)      HYPER(T)      HYPER(G)        &bt BT_CLR    _X_           _X_           _X_           _X_
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
    HYPER(BSPC)   HYPER(X)      HYPER(Z)      HYPER(K)      HYPER(C)      HYPER(V)        _X_           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  _X_           _X_
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                              _X_           &sys_reset    &bootloader     &bootloader   &sys_reset    &out OUT_TOG
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

/*
ZMK_LAYER(template,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  _X_           _X_           _X_           _X_           _X_             _X_           _X_           _X_           _X_           _X_
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  _X_           _X_           _X_           _X_           _X_             _X_           _X_           _X_           _X_           _X_
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
    _X_           _X_           _X_           _X_           _X_           _X_             _X_           _X_           _X_           _X_           _X_           _X_
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                              _X_           _X_           _X_             _X_           _X_           _X_
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)
*/